.product {
  background-color: hsl(210, 100%, 15%);
  overflow: hidden;
  text-align: left;
  position: relative;
  padding:15px 25px;
  border-radius: 18px;
  width: 300px;
  cursor: pointer;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  margin: 8px auto;
  font-family: 'Jost';

  display: flex;
  justify-content: center;
  column-gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
}

.product > img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 18px;
  overflow:hidden;
  margin-top: 10px;
}

.info__name{
  font-size: 24px;
  font-weight: 500;
  margin-top: 0px;
  display: block;
  color: rgb(230,187,132);
  flex-grow: 1;
  margin-top: 10px;
}

.info__description{
  font-size: 16px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}

.info__price{
  font-size: 20px;
  margin-bottom: 10px;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}


.info__button {
  display: block;
  position: relative;
  margin-bottom: 0;

  text-decoration: none;
  text-align: center;
  color: #171717;
  width: 100%;
  padding: 8px 16px;
  background-color: #f4f4f4;
  border: 1px solid #171717;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 40px;
  margin: auto;
}

.info__button:hover {
  background: #171717;
  color: #f4f4f4;
}

@media (max-width: 1232px) {
  .product {
    width: 360px;
  }
}

@media (max-width: 1115px) {
  .product {
    width: 330px;
  }
}

@media (max-width: 1028px) {
  .product {
    width: 300px;
  }
}

@media (max-width: 950px) {
  .product {
    width: 400px;
  }
}

@media (max-width: 830px) {
  .product {
    width: 330px;
  }
}

@media (max-width: 700px) {
  .product {
    width: 290px;
  }
}

@media (max-width: 630px) {
  .product {
    width: 450px;
  }
}

@media (max-width: 500px) {
  .product {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .product {
    width: 300px;
  }
}
